* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Brush Script MT', cursive;
    background-color: deeppink; /* Corrected color */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.btns button {
    max-width: 90%;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .btns button {
        padding: 8px 16px;
    }
}

h1 {
    color: white;
    margin: 20px 0;
    font-size: 48px;
}
.image {
    width: 300px;
    height: 300px;
    background-image: url("./img/forever-valentine-love.gif");
    background-position: center;
    background-size: cover;
    border: 0; /* No border */
    margin: 20px auto; /* Centered horizontally */
}


.btns button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#nooo:hover, #yessir:hover {
    background-color: lightpink;
}

p {
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

.hearts-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure it spans the full width */
    position: relative;
    z-index: 1;
}

@keyframes float {
    0% {
        transform: translateX(0) translateY(100%);
        opacity: 1;
    }
    100% {
        transform: translateX(20vw) translateY(-100vh);
        opacity: 0;
    }
}

.heart {
    position: absolute;
    bottom: -100px;
    color: pink;
    animation: float linear infinite;
    opacity: 0; /* Start fully transparent */
    font-size: 24px; /* Adjust size as needed */
}


@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-change-animation {
  animation: fadeOutIn 1s ease;
}

.image-change-animation {
  animation: fadeScaleIn 1s ease;
}

@keyframes fadeScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
